In [1]:
a1 =2
a2 = 3.5
a3 = 4 +6j
print(type(a1))
print(type(a2))
print(type(a3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
a = 10
id1 = id(a)
b = a + 2-2
id2 = id(b)

print(id1)
print(id2)

1755621440
1755621440

## Arithmetic Operators

In [3]:
10-6.3

3.7

In [4]:
8-58

-50

In [5]:
10/3

3.3333333333333335

In [6]:
10//3

3

In [7]:
2+3 *4

14

# Simple Interest to lower integer

In [8]:
p = 100
r = 12
t = 2 
si = (p*r*t)/100
si

24.0

## Fah to Celcius Conversion

In [9]:
f = 97.6
c = (f-32) * 5/9
c

36.44444444444444

## Concetenation of two string value

In [10]:
a = "ab" + "cd"
a

'abcd'

In [11]:
# Fah to Celcius Conversion only it value...
f = 100
c = (f-32) * 5/9
print(c)
ci = (f-32) * 5//9
print(ci)

37.77777777777778
37

## Find average..

In [13]:
a = int(input())
b = int(input())
c = int(input())
average = (a+b+c)/3
average1 = (a+b+c)//3

print(average)
print(average1)

10
23
34
22.333333333333332
22

In [14]:
# addition of two numbers
a = int(input())
b = int(input())
print(type(a))
print(type(b))
c = a + b
print(type(c))
c

2
3
<class 'int'>
<class 'int'>
<class 'int'>

5

In [19]:
## Converting string to float
s = "4.5"  #string value
float(s) ## float to convert value
print(float(s))
print(type(s))
print(type(float(s)))

4.5
<class 'str'>
<class 'float'>

In [ ]:
# Simple interest 
print("Enter Principal")
p = float(input())
print("Enter Time")
t = float(input())
print("Enter Rate")
r = float(input())
si = (p*t*r)/100
si